# Image files
*.png

!test.png

# IDE specific files
/.vscode/

# vmem files for persistent parameters
*.vmem

# Compiled files
/sim/camera
/src/pipeline/pipeline

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

!mirror_aarch64.so
!gray_aarch64.so

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Project binary files
/bin/*
!/bin/.gitkeep

# Project object files
# /lib/*
# !/lib/.gitkeep

# Project logs files
/log/*
!/log/.gitkeep
